.project-card-view {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.project-card-view.visible {
  opacity: 1;
  transform: translateY(0);
}

.tech-icon-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: #fff;
}

.tech-icon {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 6px 10px;
  border-radius: 8px;
}

.project-card-view .tech-icons-container div {
  transition: transform 0.2s ease;
}

.project-card-view .tech-icons-container div:hover {
  transform: scale(1.2);
}

.project-card.fade-in-up {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease-out;
}
.project-card.fade-in-up.visible {
  opacity: 1;
  transform: translateY(0);
}