/* Techstack.css */

.techstack-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 0; /* Initially hidden */
  transform: translateY(20px); /* Move down slightly */
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.techstack-row.visible {
  opacity: 1;
  transform: translateY(0);
}

.tech-icons {
  font-size: 3em;
  margin: 10px;
  padding: 15px;
  text-align: center;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 10px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-icons.visible {
  opacity: 1;
  transform: translateY(0);
}

.icon-name {
  font-size: 0.8em;
  margin-top: 5px;
  color: #777; /* Adjust color as needed */
}
